:host {
  display: flex;
}

.container {
  width: 200px;
  background-color: lightblue;
  padding: 50px;
}

.service-controls {
  margin: 20px;
}

.service-controlls__radio {
  padding-right: 20px;
}
