.component-showcase {
  margin-left: 1rem;
  margin-right: 1rem;
}

.view-container-showcase__content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150%;
}

.view-container-showcase__palette {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150%;
}


.context-component-showcase {
  max-width: 60rem;
  max-height: 60rem;
}
