:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  flex-grow: 0;
  flex-shrink: 0;
}

.view {
  position: relative;
  height: 0; // we need a base height for flex to work properly
  flex-grow: 1;
  flex-shrink: 1;
}

.view__router-outlet-wrapper {
  height: 100%;
  overflow: hidden;
}

.footer {
  height: 2rem;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
}

.presentation-progress-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
}
