<div class="footer-left">
  <button class="footer-button" [matTooltip]="'footer.select environment' | translate" matTooltipPosition="right" [matMenuTriggerFor]="connectionMenu"
    aria-label="Select evironment">
    <mat-icon class="footer-button__icon">settings</mat-icon>
    <span class="footer-button__description">{{(clusterManager.currentConnection$ | async)?.environment}}</span>
  </button>
  <mat-menu #connectionMenu>
    <button *ngFor="let connection of clusterManager.availableConnections$ | async" mat-menu-item (click)="selectConnection(connection)">
      <span>{{connection.environment}}</span>
    </button>
    <mat-divider></mat-divider>
    <!-- <button mat-menu-item (click)="onEditClusterConnection()"> -->
    <button mat-menu-item routerLink="/setupclusterconnection">
      <mat-icon>edit</mat-icon>
      <span>{{ 'footer.setup cluster' | translate }}</span>
    </button>
  </mat-menu>
  <span class="vertical-divider">&nbsp;</span>
</div>
<div class="footer-right">
  <span class="vertical-divider">&nbsp;</span>
  <button class="footer-button" [matTooltip]="'footer.select language' | translate" [matMenuTriggerFor]="languageMenu" aria-label="Select language">
    <mat-icon class="footer-button__icon">language</mat-icon>
  </button>
  <mat-menu #languageMenu>
    <button *ngFor="let language of languages" mat-menu-item (click)="selectLangauge(language.langCode)">
      <span>{{ language.translationLabel | translate }}</span>
    </button>
  </mat-menu>
  <span class="vertical-divider">&nbsp;</span>
  <button class="footer-button slide-show-button" [matTooltip]="'footer.toggle presentation mode' | translate" matTooltipPosition="left"
    [ngClass]="{'slide-show-button--on': slideShowButtonIcon === 'screen_share', 'slide-show-button--off': slideShowButtonIcon === 'stop_screen_share'}"
    (click)="toggleSlideShow()" aria-label="Toggle slide show">
    <mat-icon class="footer-button__icon">{{slideShowButtonIcon}}</mat-icon>
  </button>
</div>
